.carousel-inner > .item > img{
    width:960px;
    height:540px; 
}

.first-slide{
    top: 50%;
    left: 50%;
	margin:0 auto;
}

.second-slide{
    top: 50%;
    left: 50%;
	margin:0 auto;
}

.third-slide{
    top: 50%;
    left: 50%;
	margin:0 auto;
}


